$PrimaryColorBright:       #FFCC00;
$PrimaryColorDark:         #D5A100;
$SecondaryColorBright:     #0075BE;
$SecondaryColorDark:       #0A285F;
$PokemonButtonBackground:  rgba(255, 244, 199, 0.8);



body {
   background-color: $PrimaryColorBright;
}

main {
   background-color: $PrimaryColorBright;
   margin: 0px 40px;
}

.navbar {
   background-color: $SecondaryColorBright;
   color: $PrimaryColorBright;
}

.navbar-brand {
   color: #edf9e8;

   &:hover{
      color: lighten($color: $PrimaryColorBright, $amount: 25%);
   }
   &:active{
      opacity: 0.8;
   }
}

.page-logo-wrapper {
   text-align: center;
   margin: 40px 0px;
   border-bottom: 2px solid $SecondaryColorBright;
   padding: 25px;
}

.page-logo{
   max-width: 300px;
   text-align: center;
}


.pokemon-list {
   
}


.pokemon-list-item {
   background-color: $PrimaryColorBright;
   border: none;
   border-radius: 5px;
   padding: 10px 10px;
   height: 10vh;
}

.pokemon-button {
   color: $SecondaryColorDark;
   font-weight: bold;
   background-color: $PokemonButtonBackground;
   border: 4px solid $SecondaryColorBright;
   border-radius: 5px ;
   height: 90%;

   &:hover{
      background-color: lighten($color: $PokemonButtonBackground, $amount: 8%);
   }

   &:focus{
      border: 6px solid darken($color: $SecondaryColorBright, $amount: 10%);
      outline: none;

   }
}

//MODAL stylings

.modal-content {
   min-height: 300px;
   width: 500px;
   background-color: $PrimaryColorBright;
   border: 4px solid $SecondaryColorDark;
   border-radius: 9px;
   font-weight: bold;
}

.modal-header {
   background-color: $SecondaryColorBright;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom: 2px solid $SecondaryColorDark;
   
   .modal-title {
      font-size: x-large;
      font-weight: bold;
      color: $PrimaryColorBright;
   }
}

.modal-body {
   border-bottom: 2px solid $SecondaryColorDark;
   border-top: 2px solid $SecondaryColorDark;
   color: $SecondaryColorDark;
}

.modal-footer {
   background-color: $SecondaryColorBright;
   border-top: 2px solid $SecondaryColorDark;
}

.modal-pokemon-details {
   text-align: left;
}