$PrimaryColorBright:       #FFCC00;
$PrimaryColorDark:         #D5A100;
$SecondaryColorBright:     #0075BE;
$SecondaryColorDark:       #0A285F;
$PokemonButtonBackground:  rgba(255, 244, 199, 0.8);



body {
   background-color: $PrimaryColorBright;
   text-align: center;
}

.navbar {
   background-color: $SecondaryColorBright;
   color: $PrimaryColorBright;
}

a {
   color: $PrimaryColorBright;

   &:hover{
      color: lighten($color: $PrimaryColorBright, $amount: 25%);
   }
   &:active{
      opacity: 0.8;
   }
}

h1 {
   text-align: center;
}

.page-logo{
   max-width: 400px;
   text-align: center;
}

.pokemon-list-item {
   background-color: $PrimaryColorBright;
   border: none; //1px solid $SecondaryColorDark;
   border-radius: 5px;
   margin: 5px;
   padding: 0;
}

.pokemon-button {
   color: $SecondaryColorDark;
   background-color: $PokemonButtonBackground;
   border: 4px solid $SecondaryColorBright;
   border-radius: 5px ;

   &:hover{
      background-color: lighten($color: $PokemonButtonBackground, $amount: 8%);
   }
   &:active{
     // opacity: 0.8;
   }
}

//modal

.modal-content {
   background-color: $PrimaryColorBright;
   border: 4px solid $SecondaryColorDark;
   border-radius: 9px;
   font-weight: bold;
}

.modal-header {
   background-color: $SecondaryColorBright;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-color: $SecondaryColorDark;
   
   .modal-title {
      font-size: x-large;
      font-weight: bold;
      color: $PrimaryColorBright;
   }
}

.modal-body {
   border-bottom: 2px solid $SecondaryColorDark;
   border-top: 2px solid $SecondaryColorDark;
   color: $SecondaryColorDark;
}

.modal-footer {
   background-color: $SecondaryColorBright;
   border-top-color: $SecondaryColorDark;
}

.modal-pokemon-details {
   text-align: left;
}

/*.list-group-item {
   background-color: $PrimaryColorBright;
}





/*$bodyBackgroundColor: rgb(139, 209, 209);
$mainFontColor: rgb(26, 51, 51);
$pokemonButtonColor: rgb(212,224,230);

* {
   box-sizing: border-box;
   font-family: 'IBM Plex Mono';

}

body {
   background-color: $bodyBackgroundColor;
   max-width: 1000px;
   margin: 100px auto auto;
}

ul.pokemon-list{
   list-style-type:none;
   font-size: 80px;
   font-weight: 700;
   font-style: italic;
   color: $mainFontColor;
}

li{
   font-size: 10px;
}

.pokemonButton {
   font-size: 20px;
   font-weight: 400;
   text-align: left;
   border: 1px solid $mainFontColor;
   background-color: rgb(212, 224, 230);
   border-radius: 5px;
   color: $mainFontColor;
   width: 150px;
   transition: background-color 0.2s linear 0s;
   transition: opacity 0.2s linear 0s;
   

   &:hover{
      background-color: lighten($color: $pokemonButtonColor, $amount: 8%);
   }
   &:active{
      opacity: 0.8;
   }
}

#modal-container {
   display: none;
 }

#modal-container.is-visible {
   margin: auto;
   position: fixed;
   padding: 20px;
   box-sizing: border-box;
   top: 0px;   
   left: 0px;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.4);
   
   // to show it above other content 
   z-index: 999; 
   
   // to allow scrolling if the screen is not high enough
   overflow: auto; 
   
   // this is used to center the modal 
   display: grid;
   text-align: center;
}

.modal{
   width: 40%;
   height: auto;
   border: 2px solid rgb(26, 51, 51);
   padding: 20px;
   margin: auto;
   background: rgba(140, 209, 209, 0.9);
   border-radius: 10px;
}

.modal-close {
   float: right;
   -webkit-appearance: none;
   border: 0;
   background: none;
   color: rgb(26, 51, 51);
   text-decoration: underline;
 }


 
.modal h1 {
   margin-top: 0;
   text-align: left;
   color: rgb(26, 51, 51);
 }
 
.modal p {
   margin-bottom: 0;
   text-align: left;
   color: rgb(26, 51, 51);
 }

.modal img {
   margin-top: 0;
   float: left;
 } */